header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.3rem;
}

.titulo{
    text-align: center;
}

.logo{
    height: 50px;
}

@media screen and (min-width: 768px) {
   .titulo{
       font-size: 3rem;
   }

   .logo{
       height: 60px;
   }
}

@media screen and (min-width: 1024px){
    header{
        margin: 1.3rem 6rem;
    }
}

@media screen and (min-width: 1440px){
    .titulo{
        font-size: 5rem;
    }

    .logo{
        height: 100px;
    }
}